# Maven build directory
/target

# IntelliJ files
*.iml
.idea/

# Eclipse files
.project
.classpath
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Release directory
/release
/logs/

/src/main/resources/static/

rebel.xml
/owl2vowl_logs/
/bin/
